<% provide(:title, 'チャット') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @chat_room_user %>
      <%= @chat_room_user.name %>
    </section>
    <section class="profile-text">
      <%= simple_format(@chat_room_user.self_introduction) %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="mt-3">
       <%= link_to user_path(@chat_room_user) do %>
        <i class="fas fa-angle-left fa-lg"></i> 戻る
      <% end %>
    </div>
    <div id="chat-messages">
      <%= render @chat_messages %>
    </div>
    <form class="chat-room__message-form">
      <input data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="form-control chat-room__message-form_textarea">
    </form>
  </div>
</div>