<% provide(:title, "アカウント編集") %>
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2>アカウント編集</h2>
      <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
        <div class="mb-3">
          <%= f.label :name, "名前", class: "form-label" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :self_introduction, "自己紹介文", class: "form-label" %>
          <%= f.text_area :self_introduction, class: "form-control", placeholder: "紹介" %>
        </div>
        <div class="mb-3">
          <%= f.submit "変更する", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div>
        <%= button_to "アカウント削除", @user, class: "btn btn-outline-danger", method: :delete,
                        data: { confirm: "本当に削除してもよろしいですか？" } %>
      </div>
    </div>
  </div>
</div>