<% provide(:title, 'すべてのユーザー') %>
<div class="row justify-content-end">
  <div class="col-md-4">
    <h1>すべてのユーザー</h1>
  </div>
  <div class="col-md-4">
    <%= search_form_for @q, url: search_users_path, class: "input-group mt-3" do |f| %>
      <span class="input-group-text">ユーザー名</span>
      <%= f.search_field :name_cont, class: "form-control" %>
      <%= f.submit '検索', class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>
<ul class="users">
  <%= render @users %>
</ul>

<%= paginate @users %>