<% provide(:title, '投稿詳細') %>
<div class="card mb-3">
  <div class="card-header">
    <%= link_to gravatar_for(@post.user), @post.user %>
    <%= link_to user_path(@post.user), class: "black-color no-text-decoration post-user-name",
      title: @post.user.name do %>
      <strong><%= @post.user.name %></strong>
    <% end %>
    <% if @post.user_id == current_user.id %>
      <%= link_to post_path(@post), method: :delete, class: "delete-item", data: { confirm: "本当に削除してもよろしいですか？" } do %>
        <i class="fas fa-trash-alt fa-2x"></i>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @post.photos.first.image.url(:medium), class: "card-img-top" %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <P class="card-text">
          <%= simple_format(@post.content) %>
        </P>
        <% @post.tags.each do |tag| %>
          <span class="badge bg-info text-dark"><%= tag.name %></span>
        <% end %>
        <div class="comment-post-id">
          <div id="comment-post-<%= @post.id.to_s %>">
            <%= render 'comment_list', post: @post %>
          </div>
        </div>
        <div class="row parts" id="comment-form-post-<%= @post.id.to_s %>">
          <%= form_with model: [@post, Comment.new],  class: "w-100" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.text_field :comment, class: "form-control", placeholder: "コメント ...", autocomplete: :off %>
          <% end %>
        </div>
        <div class="row parts">
          <div class="col-1", id="like-icon-post-<%= @post.id.to_s %>">
            <% if @post.liked_by(current_user).present? %>
              <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
            <% else %>
              <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
            <% end %>
          </div>
          <div class="col-1 align-self-end">
            <% if @post.likes.any? %>
              <%= @post.likes.count %>
            <% end %>
          </div>
        </div>
        <div id="like-text-post-<%= @post.id.to_s %>">
          <%= render "like_text", { likes: @post.likes } %>
        </div>
        <small class="card-mured"><%= time_ago_in_words(@post.created_at).upcase %>前</small>
      </div>
    </div>
  </div>
</div>