<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "MONOLOG", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to  posts_path, class: "nav-link" do %>
              <i class="fas fa-home"></i>ホーム
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "ユーザーを探す", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item"><%= link_to "投稿する", new_post_path, class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              アカウント
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "プロフィールを編集", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>